{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}
<center>
    <a href="{% url 'task_create' %}">+ ایجاد تسک جدید</a>
    <h2>list tasks</h2>
    <ul>
        {% for task in tasks %}
        <li>
            - <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
            - {{ task.due_date }}
            - {{ task.status }}
            <a href="{% url 'task_update' task.id %}">ویرایش</a>
            <a href="{% url 'task_delete' task.id %}">❌</a>
        </li>
        {% endfor %}
    </ul>
</center>
{% endblock %}