{% extends 'base.html' %}

{% block header %}{% endblock header %}

{% block page-header %}
    <h1>لیست تسک ها</h1>
    <a href="{% url 'tasks:task_create' %}">ایجاد تسک جدید</a>
{% endblock page-header %}

{% block content %}

    <!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for task in tasks %}
                <!-- Post preview-->
                <div class="post-preview">
                        <h2 class="post-title"><a href="{% url 'tasks:task_detail' task.pk %}">{{ task.title }}</a></h2>
                    <p class="post-meta">
                        {{ task.status }}<br>
                        {{ task.due_date }}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}
            <br><br><br><br><br><br><br><br><br>
    </div>
</div>
{% endblock %}